*.pyc
*~
.project
.pydevproject
.settings/
Client.py
Main.conf
Main.py
ParseConfig.py
Plugin.py
colors.py
revisions.csv
testplugin.py
users.txt
users_buntu.txt
users_s44.txt
users_sl.txt
users_win.txt
utilities.py
wipe.sh
