%serveraddr=localhost
serveraddr=taspringmaster.clan-sy.com
serverport=8200

nick=S44bot
password=

admins=_koshi_,Nemo,[S44]Nemo,[S44]Neddie,[S44]yuritch
plugins=s44bot,join_channels

channels=s44,main
host='taspringmaster.clan-sy.com'
